<h1>Welcome <%= username %> (Doctor)</h1>
<ul>
  <li><a href="/createMedicalRecord">Create Medical Record</a></li>
  <li><a href="/createPrescription">Create Prescription</a></li>
  <li><a href="/sendMessage">Send Message</a></li>
  <li><a href="/getMessages">Get Messages</a></li>
</ul>
