<h1>Welcome <%= username %> (Receptionist)</h1>
<ul>
  <li><a href="/patientCheckIn">Patient Check-In</a></li>
  <li><a href="/checkOut">Patient Check-Out</a></li>
  <li><a href="/sendMessage">Send Message</a></li>
  <li><a href="/getMessages">Get Messages</a></li>
</ul>
