<h1>Welcome <%= username %> (Pharmacist)</h1>
<ul>
  <li><a href="/getPrescriptions">Get Prescription</a></li>
  <li><a href="/sendMessage">Send Message</a></li>
  <li><a href="/getMessages">Get Messages</a></li>
</ul>
