<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
  <h1>Login</h1>
  <form action="/users/login" method="POST">
    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <label>Organization:</label><br>
    <select name="orgName" required>
      <option value="PESUHospitalBLR">PESUHospitalBLR</option>
      <option value="PESUHospitalKPM">PESUHospitalKPM</option>
    </select><br><br>

    <button type="submit">Login</button>
  </form>
</body>
</html>
